body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Container {
  padding: 20px;
  border: 1px solid grey;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}

.HintText {
  margin: 20px;
}